RewriteEngine On
RewriteBase /datn/

RewriteCond %{REQUEST_URI} \.(css|js|png|jpg|woff|woff2)$ [NC]
RewriteRule ^ - [L]

# Ngoại lệ cho download.php
RewriteCond %{REQUEST_URI} ^/datn/download\.php$ [NC]
RewriteRule ^ - [L]

RewriteRule ^(.*)$ index.php [QSA,L]